/*Responsive css*/
@media screen and (max-width: 980px) {
	.name h1{
		font-size: 2.8rem;
		margin-top: 12%;
	}
}
@media screen and (max-width: 900px) {
	.name h1{
		font-size: 2.6rem;
		margin-top: 14%;
	}
}
@media screen and (max-width: 800px) {
	.name h1{
		font-size: 2.4rem;
		margin-top: 15%;
	}
}
@media screen and (max-width: 616px) {
	.cv-container{
		grid-template-columns: 1fr;

	}
}
@media screen and (max-width: 580px) {
	.name h1{
		font-size: 1.8rem;
		margin-top: 15%;
	}
}
@media screen and (max-width: 550px) {
	.profile-logo{
		width: 12rem;
		height: 12rem;
	}
	.name h1{
		font-size: 1.4rem;
		margin-top: 15%;
	}
	.name span{
		font-size: 1.4rem;
	}

}
@media screen and (max-width: 550px) {
	.profile-logo{
		width: 10rem;
		height: 10rem;
	}
	.name h1{
		font-size: 1.2rem;
		margin-top: 15%;
	}
	.name span{
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 450px) {
	.profile-logo{
		width: 8rem;
		height: 8rem;
	}
	.name h1{
		font-size: 1rem;
		margin-top: 15%;
	}
	.name span{
		font-size: 1rem;
	}
}
@media screen and (max-width: 400px) {
	.profile-logo{
		width: 6rem;
		height: 6rem;
	}
	.name h1{
		font-size: .5rem;
		margin-top: 15%;
	}
	.name span{
		font-size: .5rem;
	}
}